

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}
.button{
    background-color: black;
    color: white;
    padding: 3px 9px;
}

/* *************** navbar page start ************************** */
.header{
    color:black;
    display: flex; 
    justify-content: space-between; 
    align-items:center;
    padding: 2px;
    /* border: 1px solid black; */
    background-color:#FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo{
    width:10%;
    height:10%;
}
.navlist{
    display: flex;
    gap:2rem;
}
.navlink
{
    text-decoration: none;
    color:black;
    font-weight: 600;
    font-size: large;
    /* text-decoration-line: none; */
}
.rightdiv{
    display: flex;
    justify-content: space-around;
    gap:2rem;
    padding-right: 2% ;
}
/* *************** navbar page end ************************** */

/* *************** products page start ************************** */

.gridContainer
{
    display: flex;
    margin: auto;
    width:95%;
   justify-content: space-between; 
   border: 1px solid blue;
   margin-top: 2%; 
}

.left_filter_view
{
    width:20%;
    border:1px solid black;
    /* margin: auto; */
    
}
.product_view
{
    width:75%;
    border:1px solid red;

   
}
.product_view .main_product{
    display: grid;
    width:100%; 
    grid-template-columns: repeat(3,1fr);
    /* height: 200px; */
    gap:15px;
   
 } 
.main_product div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10% 10% 7% 7%;
    height: 600px;
    border: 1px solid black;
   
    /* margin: 10%; */
}
.main_product div img{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 10% 10% 0px 0px;
    border: 1px solid black;
    width:100%;
    height:70%; 
}



/* *************** product page end ************************** */



/* *************** single product page start ************************** */

.single_product_main_div
{
    display: flex;
    width:60%;
    margin:auto;
    height:60%;
    margin-top: 3%;
    padding: 2%;
    /* border:1px solid black; */
    justify-content: space-around;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.single_product_left_div{
    width:30%;
    
    /* border:1px solid red; */
}
.single_product_left_div img{
    width:100%;
   
    
}
.single_product_right_div{
    width:60%;
    padding: 1%;
   
    /* border:1px solid blue; */
}

/* *************** single product page end ************************** */

@media screen and (min-width: 480px) and (max-width:1024px) {

/* *************** single product page start ************************** */

    .single_product_main_div
{
    display: flex;
    flex-direction: column;
    width:50%;
    margin:auto;
    height:60%;
    margin-top: 3%;
    padding: 2%;
    /* border:1px solid black; */
    justify-content: center;
    justify-content: space-around;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.single_product_left_div{
    width:30%;
    margin: auto;
    
    /* border:1px solid red; */
}
.single_product_left_div img{
    width:100%;
 
}
.single_product_right_div{
    width:60%;
    margin: auto;
    padding: 1%;
   
    /* border:1px solid blue; */
}
.single_product_right_div h2{
    /* font-size: 15px; */
   text-align: center;
    /* border:1px solid blue; */
}
/* *************** single product page end ************************** */

}