*{
    font-family: Arial, Helvetica, sans-serif;
}

.div_category
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
    margin: auto;
    width: 95%;
    margin-top: 1%;
    /* margin-bottom: 1%; */
    
}
.div_category div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid gray;
    height: 90%;
}
.div_category img{
    width:100%;
    height:90%;
    border: 1px solid gray;
    transition: calc(1.0s);
}
.div_category  div img:hover{
    /* width: 100%;
    height:100%; */
    /* transition: calc(1.0s); */
    transform: scale(1.1);

}
.div_category p{
    font-weight: 600;
    font-size: large;
}

.carousel{
    padding: 2%; 
    background-color: gray; 
    color:white;
    height: 60%;
    margin: auto;
    width: 95%;
    margin-top: 1%;
    margin-bottom: 2%; 
}
.box{
    /* background-color: lightblue; */
    height: 350px;
    border: 1px solid black;
    
}
.box img{
    width: 100%;
    height: 350px; 
}
.box h3{
    text-align: center;
}
.slick-slide div{
    margin: 0 1rem;
}

.carousel1{
    padding: 2%;
    background-color: gray; 
    color:white;
    height: 60%;
    margin: auto;
    width: 95%;
    margin-top: 3%;
}
.box1{
    /* background-color: lightblue;  */
    height: 350px;
    border: 1px solid black;
    
}
.box1 img{
    width: 100%;
    height: 400px;  
}

@media screen and (min-width: 480px) and (max-width:1024px) {

.div_category
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
    margin: auto;
    width: 95%;
    margin-top: 1%;
    /* margin-bottom: 1%; */
    
}
.div_category div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid gray;
    height: 90%;
}
.div_category  div img{
    /* width: 100%;
    height:100%; */
    transition: calc(1.0s);

}
.div_category  div img:hover{
    /* width: 100%; */
    transform: scale(1.1);
}
h2{
    text-align: left;
}
.carousel{
    padding: 2%; 
    background-color: gray; 
    color:white;
    height: 60%;
    margin: auto;
    width: 95%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.box{
    /* background-color: lightblue; */
    height: 350px;
    border: 1px solid black;
    
}
.box img{
    width: 100%;
    height: 350px; 
}
.box h3{
    text-align: center;
}
.slick-slide div{
    margin: 0 1rem;
}

.carousel1{
    padding: 2%;
    background-color: gray; 
    color:white;
    height: 60%;
    margin: auto;
    width: 95%;
    margin-top: 1%;
}
.box1{
    /* background-color: lightblue;  */
    height: 350px;
    border: 1px solid black;
    
}
.box1 img{
    width: 100%;
    height: 400px;  
}

}